/**
 * @file
 * Form Styling
 */
/* line 10, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 15, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 19, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 25, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 30, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 34, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 39, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 45, ../sass/forms.scss */
.form-text,
.form-textarea {
  width: 100%;
  padding: 10px;
  background: #cec3b5;
  background: rgba(121, 132, 140, 0.2);
  border: 0;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 0;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 0;
}

/* line 55, ../sass/forms.scss */
.form-text {
  max-width: 360px;
}

/* line 59, ../sass/forms.scss */
.form-textarea {
  -webkit-border-radius: 11px 11px 0 0;
  -moz-border-radius: 11px 11px 0 0;
  -ms-border-radius: 11px 11px 0 0;
  -o-border-radius: 11px 11px 0 0;
  border-radius: 11px 11px 0 0;
}

/* line 64, ../sass/forms.scss */
.form-text:focus,
.form-textarea:focus {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
}

/* line 72, ../sass/forms.scss */
.form-submit,
button,
.button-link,
.button a {
  /* The submit button. Need to move this to a mixin class */
  display: inline-block;
  background: #e88c2d;
  font-family: "FuturaW01-MediumCondens", "PT Sans W01 Regular", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #e4d4c0;
  color: #fff;
  padding: 7px 30px;
  border: 0;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  text-decoration: none;
}

/* line 94, ../sass/forms.scss */
.form-submit:hover,
.form-submit:focus,
button:hover,
button:focus,
.button-link:hover,
.button-link:focus,
.button a:hover,
.button a:focus {
  /* The submit button. Need to move this to a mixin class */
  color: #e4d4c0;
  background: #dd7200;
  text-decoration: none;
}

/* line 100, ../sass/forms.scss */
.form-actions [type="submit"]:first-child {
  margin-right: 10px;
}

/* line 106, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 111, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 114, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 123, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 130, ../sass/forms.scss */
#block-search-form {
  margin: 0;
}

/* line 134, ../sass/forms.scss */
#search-block-form {
  position: relative;
  float: left;
}
/* line 138, ../sass/forms.scss */
#search-block-form .form-text {
  background: #e4d4c0;
  height: 35px;
  padding: 10px;
  border: 0;
  border-radius: 0;
  min-width: 260px;
}
/* line 146, ../sass/forms.scss */
#search-block-form .form-text:focus {
  border: 0;
}
/* line 151, ../sass/forms.scss */
#search-block-form .form-submit {
  display: block;
  width: 31px;
  height: 32px;
  background: url(../images/search-glass.png);
  overflow: hidden;
  text-indent: -500em;
  border: 0;
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

/*
 * Drupal's default login form block
 */
/* line 173, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 183, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 188, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 193, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 198, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 210, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 216, ../sass/forms.scss */
form tbody {
  border-top: 0;
}
/* line 221, ../sass/forms.scss */
form tr.even,
form tr.odd {
  border: 0;
}
/* line 225, ../sass/forms.scss */
form tr.even {
  background-color: #ece0d2;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 230, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 249, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/*
 * Custom autocomplete for Prague theme.
 */
/* line 258, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 100% -50px;
}

/* line 264, ../sass/forms.scss */
html.js input.throbbing {
  background-position: 100% 10px;
}

/*
 * Prague Commerce tweaks (why are the selectors are so horrible?)
 */
/* line 271, ../sass/forms.scss */
.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  background-color: #fff;
}

/* line 275, ../sass/forms.scss */
.page-checkout .form-item {
  margin: 0 0 20px;
}

/* line 280, ../sass/forms.scss */
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  font-family: "PT Sans W01 Regular", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 16px;
  color: #dd7200;
  text-transform: none;
}

/* line 287, ../sass/forms.scss */
.addressfield-container-inline > div.form-item {
  float: none;
  margin-right: 0;
}

/* line 292, ../sass/forms.scss */
.form-item-customer-profile-billing-commerce-customer-address-und-0-first-name {
  margin-bottom: 0 !important;
}

/* line 296, ../sass/forms.scss */
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 50%;
}
