/**
 * @file
 * DrupalCon Schedule Styling
 */
/* line 10, ../sass/schedule.scss */
.view-drupalcon-schedule .views-exposed-form {
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

/* line 17, ../sass/schedule.scss */
.view-drupalcon-schedule .views-exposed-form .ajax-progress {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* line 23, ../sass/schedule.scss */
.view-drupalcon-schedule .views-exposed-widgets {
  margin-bottom: 0;
}

/* line 27, ../sass/schedule.scss */
.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}

/* line 33, ../sass/schedule.scss */
.view-drupalcon-schedule .views-exposed-widgets > .views-exposed-widget > label {
  background: #e88c2d;
  font-family: "FuturaW01-MediumCondens", "PT Sans W01 Regular", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 5px 20px;
  border-bottom: #fff 1px solid;
}

/* line 47, ../sass/schedule.scss */
label.open {
  border-radius: 5px 5px 0 0 !important;
}

@media (max-width: 720px) {
  /* line 53, ../sass/schedule.scss */
  .form-item-field-track-value {
    display: none;
  }
}
/* line 58, ../sass/schedule.scss */
.bef-checkboxes {
  overflow: hidden;
  padding: 20px 10px;
}

/* line 63, ../sass/schedule.scss */
.bef-checkboxes .form-type-bef-checkbox {
  padding: 0 10px;
  margin-bottom: 5px;
}
@media (min-width: 920px) {
  /* line 63, ../sass/schedule.scss */
  .bef-checkboxes .form-type-bef-checkbox {
    width: 50%;
    float: left;
  }
}

/* line 73, ../sass/schedule.scss */
.bef-checkboxes [type="checkbox"] {
  display: none;
}

/* line 77, ../sass/schedule.scss */
.bef-checkboxes label.option {
  display: block;
  padding: 8px 20px 6px 38px;
  background: url(../images/prague/sprite-track-icons.png) no-repeat 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 85, ../sass/schedule.scss */
.bef-checkboxes [type="checkbox"]:checked + label.option {
  background-color: #c7c7c7;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Filter icons */
/* line 92, ../sass/schedule.scss */
.form-item-edit-field-track-value-1 label.option {
  background-position: 5px 5px;
}

/* line 96, ../sass/schedule.scss */
.form-item-edit-field-track-value-2 label.option {
  background-position: 5px -35px;
}

/* line 100, ../sass/schedule.scss */
.form-item-edit-field-track-value-3 label.option {
  background-position: 5px -75px;
}

/* line 104, ../sass/schedule.scss */
.form-item-edit-field-track-value-4 label.option {
  background-position: 5px -315px;
}

/* line 109, ../sass/schedule.scss */
.form-item-edit-field-track-value-5 label.option {
  background-position: 5px -155px;
}

/* line 113, ../sass/schedule.scss */
.form-item-edit-field-track-value-6 label.option {
  background-position: 5px -195px;
}

/* line 117, ../sass/schedule.scss */
.form-item-edit-field-track-value-7 label.option {
  background-position: 5px -235px;
}

/* line 121, ../sass/schedule.scss */
.form-item-edit-field-track-value-8 label.option {
  background-position: 5px -275px;
}

/* line 127, ../sass/schedule.scss */
.view-drupalcon-schedule .view-content {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Time slots */
/* line 134, ../sass/schedule.scss */
.time-label {
  padding: 10px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #5c463b;
}

/* line 143, ../sass/schedule.scss */
.schedule-list {
  margin: 0;
}

/* line 147, ../sass/schedule.scss */
.schedule-item {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 1px;
}

/* line 154, ../sass/schedule.scss */
.schedule-item .flag-wrapper {
  float: right;
}

/* line 158, ../sass/schedule.scss */
.session-title {
  margin: 0;
}

/* line 163, ../sass/schedule.scss */
.username,
.schedule-room-title {
  display: inline-block;
  padding-left: 20px;
  font-size: 0.75em;
  background: url(../images/prague/sprite-schedule2.png) no-repeat 0 1px;
}

/* line 170, ../sass/schedule.scss */
.username {
  margin-right: 20px;
}

/* line 174, ../sass/schedule.scss */
.schedule-room-title {
  background-position: 0 -35px;
  margin-right: 20px;
}

/* line 179, ../sass/schedule.scss */
.experience-level {
  width: 30px;
  float: right;
  background: url(../images/prague/sprite-schedule2.png) no-repeat;
}

/* line 185, ../sass/schedule.scss */
.Beginner {
  background-position: 0 -56px;
}

/* line 189, ../sass/schedule.scss */
.Intermediate {
  background-position: 0 -76px;
}

/* line 193, ../sass/schedule.scss */
.Advanced {
  background-position: 0 -96px;
}

/* line 197, ../sass/schedule.scss */
.track-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 23px;
  left: 20px;
  background: url(../images/prague/sprite-track-icons.png) no-repeat;
}

/* Track icons. Annoyingly slightly different. Could be refactored. */
/* line 207, ../sass/schedule.scss */
.track1 {
  background-position: 0 0;
}

/* line 211, ../sass/schedule.scss */
.track2 {
  background-position: 0 -40px;
}

/* line 215, ../sass/schedule.scss */
.track3 {
  background-position: 0 -80px;
}

/* line 219, ../sass/schedule.scss */
.track4 {
  background-position: 0 -320px;
}

/* line 224, ../sass/schedule.scss */
.track5 {
  background-position: 0 -160px;
}

/* line 228, ../sass/schedule.scss */
.track6 {
  background-position: 0 -200px;
}

/* line 232, ../sass/schedule.scss */
.track7 {
  background-position: 0 -240px;
}

/* line 236, ../sass/schedule.scss */
.track8 {
  background-position: 0 -280px;
}

/* Main schedule specific styles -------------------------------------------- */
/* line 241, ../sass/schedule.scss */
.main-schedule .schedule-item {
  padding-left: 60px;
}
