/* line 3, ../sass/typography.scss */
body {
  font-family: "PT Sans W01 Regular", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 300;
  color: #5c463b;
}

/* line 9, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
}

/* line 18, ../sass/typography.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "FuturaW01-MediumCondens", "PT Sans W01 Regular", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 24, ../sass/typography.scss */
h1, .h1 {
  color: #c27575;
  font-size: 50px;
}
@media all and (min-width: 960px) {
  /* line 24, ../sass/typography.scss */
  h1, .h1 {
    font-size: 90px;
  }
}

/* line 34, ../sass/typography.scss */
h2, .h2,
h3, .h3 {
  color: #5c463b;
}

/* line 38, ../sass/typography.scss */
h2 {
  font-size: 30px;
}
@media all and (min-width: 1030px) {
  /* line 38, ../sass/typography.scss */
  h2 {
    font-size: 50px;
  }
}

/* line 46, ../sass/typography.scss */
h3 {
  font-size: 20px;
}
@media all and (min-width: 1030px) {
  /* line 46, ../sass/typography.scss */
  h3 {
    font-size: 30px;
  }
}

/* line 56, ../sass/typography.scss */
a,
a:before,
a:after {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 66, ../sass/typography.scss */
a,
a:hover,
a:focus {
  color: #dd7200;
  text-decoration: underline;
}

/* line 72, ../sass/typography.scss */
a:focus {
  outline: #000 1px dotted;
}

/* line 78, ../sass/typography.scss */
h2 a,
h2 a:focus,
h2 a:hover {
  text-decoration: none;
}

/* line 82, ../sass/typography.scss */
h2 a {
  color: #5c463b;
}

/* line 86, ../sass/typography.scss */
h2 a:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background: url(../images/prague/arrow-right.png) no-repeat 100% 0;
  /* Sprite this */
  background-size: 100% 100%;
  position: relative;
  top: 0;
  left: 20px;
}
@media all and (min-width: 1030px) {
  /* line 86, ../sass/typography.scss */
  h2 a:after {
    width: 61px;
    height: 31px;
  }
}

/* line 104, ../sass/typography.scss */
h2:hover a:after,
h2:focus a:after {
  left: 30px;
}

/* line 108, ../sass/typography.scss */
ol {
  list-style: lower-roman;
}

/* line 112, ../sass/typography.scss */
.unstyled-list {
  list-style: none;
  padding: 0;
}

/* line 117, ../sass/typography.scss */
.hide-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -500em;
}
